.App {
  width: 90%;
  margin: auto;
}

.App-logo {
  height: 40vmin;
}

.jumbotron {
  font-style: italic;
  font-family: cursive;
  font-size: 65px;
  text-align: center;
  font: Times
}

.title {
  font: Times;
  font-style: oblique;
}

.label {
  font-weight: bold;
}

.App-header {
}

.App-link {
  color: #61dafb;
}

.signupform {
  margin-top: 60px;
  margin-left: 60px
}

.header {
  margin-top: 60px;
}

#root {
  margin-left: 60px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
